// orangeSans-Logo
@font-face{
	font-family:'orangeSans-Logo';
	font-style:normal;
	font-weight:normal;
	src:url('../font/orangesans/orangeSans-Logo.eot');
	src:
		url('../font/orangesans/orangeSans-Logo.eot?#iefix') format('embedded-opentype'),
		url('../font/orangesans/orangeSans-Logo.woff') format('woff'),
		url('../font/orangesans/orangeSans-Logo.ttf') format('truetype'),
		url('../font/orangesans/orangeSans-Logo.svg#orangeSans-Logo') format('svg');
}
// orangeSans-Bold
@font-face{
	font-family:'orangeSans-Bold';
	font-style:normal;
	font-weight:normal;
	src:url('../font/orangesans/orangeSans-Bold.eot');
	src:
		url('../font/orangesans/orangeSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/orangesans/orangeSans-Bold.woff') format('woff'),
		url('../font/orangesans/orangeSans-Bold.ttf') format('truetype'),
		url('../font/orangesans/orangeSans-Bold.svg#orangeSans-Bold') format('svg');
}
// orangeSans-Medium
@font-face{
	font-family:'orangeSans-Medium';
	font-style:normal;
	font-weight:normal;
	src:url('../font/orangesans/orangeSans-Medium.eot');
	src:
		url('../font/orangesans/orangeSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/orangesans/orangeSans-Medium.woff') format('woff'),
		url('../font/orangesans/orangeSans-Medium.ttf') format('truetype'),
		url('../font/orangesans/orangeSans-Medium.svg#orangeSans-Medium') format('svg');
}
// orangeSans-Light
@font-face{
	font-family:'orangeSans-Light';
	font-style:normal;
	font-weight:normal;
	src:url('../font/orangesans/orangeSans-Light.eot');
	src:
		url('../font/orangesans/orangeSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/orangesans/orangeSans-Light.woff') format('woff'),
		url('../font/orangesans/orangeSans-Light.ttf') format('truetype'),
		url('../font/orangesans/orangeSans-Light.svg#orangeSans-Light') format('svg');
}
