@charset "utf-8";

// ==========================
//
// Import
//
// ==========================

@import "normalize";
@import "cssfonts";
@import "webfont";

// ==========================
//
// Extend
//
// ==========================

$color-white:#fff;
$color-black:#000;
$color-corporate:#e56a22;

.snp-font-org-logo{ font-family:'orangeSans-Logo'; font-weight:normal; font-style:normal; }
.snp-font-org-bold{ font-family:'orangeSans-Bold'; font-weight:normal; font-style:normal; letter-spacing:.1em; }
.snp-font-org-medium{ font-family:'orangeSans-Medium'; font-weight:normal; font-style:normal; letter-spacing:.1em; }
.snp-font-org-light{ font-family:'orangeSans-Light'; font-weight:normal; font-style:normal; letter-spacing:.1em; }

// 1px = 7.7%;
// http://osdir.com/ml/lang.javascript.yui/2007-12/msg00711.html
// http://yuilibrary.com/yui/docs/cssfonts/cssfonts-size.html

.snp-font-10{ font-size:77%; }
.snp-font-12{ font-size:93%; }
.snp-font-14{ font-size:108%; }
.snp-font-18{ font-size:138.5%; }
.snp-font-20{ font-size:153.9%; }
.snp-font-30{ font-size:231%; }
.snp-font-36{ font-size:277.2%; }
.snp-font-120{ font-size:924%; }

.snp-clearfix{ overflow:hidden; _zoom:1; }

// ==========================
//
// Reset
//
// ==========================

h1, p, ul, li, dl, dt, dd, section, article, header, footer, small, span{ margin:0; padding:0; }

h1{ font-weight:normal; }

ul{ list-style:none; }

a{
	-webkit-transition:.2s linear;
	&:link{ color:$color-black; text-decoration:none; }
	&:visited{ color:$color-black; text-decoration:none; }
	&:hover{ color:$color-corporate; text-decoration:none; }
	&:active{ color:$color-black; text-decoration:none; }
}

::-moz-selection{ background:$color-corporate; color:$color-white; }
::selection{ background:$color-corporate; color:$color-white; }

// ==========================
//
// Base
//
// ==========================

body{
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Meiryo, 'メイリオ', 'ＭＳ Ｐゴシック', Helvetica, Arial, sans-serif;
	line-height:1.6;
	color:$color-black;
	text-align:center;
}

// ==========================
//
// Area
//
// ==========================

.area-container{
	width:810px;
	margin:0 auto;
	padding:30px 30px 60px;
	text-align:left;
}

// ==========================
//
// Module
//
// ==========================

.mod-logo{
	h1{
		@extend .snp-font-org-logo;
		@extend .snp-font-30;
		text-align:right;
	}
}

.mod-showcase{
	margin-bottom:40px;
	h1{
		@extend .snp-font-120;
		line-height:1;
		.bold{ @extend .snp-font-org-bold; }
		.medium{ @extend .snp-font-org-medium; }
		.light{ @extend .snp-font-org-light; }
	}
}

.mod-info{
	margin-bottom:30px;
	dl{
		@extend .snp-clearfix;
		@extend .snp-font-14;
		font-weight:bold;
		dt{ width:6em; float:left; }
		dd{ margin-left:8em; }
	}
}

.mod-desc{ margin-bottom:60px; @extend .snp-font-14; }

.mod-fontlist{
	section{
		margin-bottom:60px;
		h1{ margin-bottom:14px; @extend .snp-font-18; }
		p{ @extend .snp-font-36; }
		&#orange-sans-bold{ @extend .snp-font-org-bold; }
		&#orange-sans-medium{ @extend .snp-font-org-medium; }
		&#orange-sans-light{ @extend .snp-font-org-light; }
	}
}

.mod-attention{ margin-bottom:60px; @extend .snp-font-14; }

.mod-download{
	margin-bottom:60px;
	@extend .snp-font-20;
	@extend .snp-font-org-bold;
}

.mod-copyright{ @extend .snp-font-18; @extend .snp-font-org-light; }

